Package: com.wolfox.wolftube
Name: WolfTube
Version: 0.1.0
Architecture: iphoneos-arm64
Description: WolfTube Arabic YouTube enhancements with in-app settings for jailbroken iOS devices.
Maintainer: WolFox <support@p3nd.fun>
Author: WolFox
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
Homepage: https://github.com/teeqp13-ops/Wolfox3
